* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 99%;
    max-width: 100%;
    background-color: #fff;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

/* nav Css */
.slidebar {
    width: 100%;
    position: relative;
}

.nav-list, .logo, .icon{
    color: #111;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 1.3em;
    opacity: .8;
    justify-content: space-between;
}
.nav-list li a {
    line-height: 35px;
}
.icon {
    display: none;
    line-height: 40px;
}

.nav-list li:hover a {
    color: orangered;
    opacity: 1;
}

/* store */
.store {
    display: block;
    line-height: 60px;
    color: #eee;
}
.fa-store sup {
    position: absolute;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: orangered;
    border-radius: 50%;
    top: 12px;
    right: 88px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}

.subTitle {
    background-color: #1111;
    padding: 20px 0;
    text-align: center;
}
.subDetail {
    background-color: #1111;
    padding: 20px 0;
    text-indent: 207px;
}
/* Detail */
.detail--container::after {
  content: '';
  clear: both;
  display: table;
}
/* left */
.right,
.left {
    float: left;
    width: 50%;
}

.left--small--img,
.left--big--img {
    float: right;
}
.left--big--img {
    width: 55%;
}
.left--big--img img {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 100%;
    padding: 5px;
}
.left--small--img {
    width: 15%;
    padding: 5px 33px 0 0;
}

.left--small--img img {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
   display: inline-block;
}

/* right */
.right {
    padding: 5px;
}
.detail--price {
    display:block;
    padding-bottom: 10px;
}
.detail--price h1 {
    color: orangered;
}
.detail--sale {
    padding-bottom: 10px;
}
.detail--status {
    padding-bottom: 10px;
    text-transform: uppercase;
    color: orangered;
}

.detail--customer {
    padding-bottom: 10px;
}
.detail--similar div {
    display: inline-block;
    background-color: #eee;
    width: 15%;
    text-align: center;
    padding: 10px 0;
}
input[type=radio]{
    display: inline-block;
}
label {
    display: block;
    padding-top: 10px;
    color: orangered;
    letter-spacing: 2px;
}

.detail--desc li {
    padding: 5px 0;
}
.detail--desc {
    padding-bottom: 10px;
}
.btn {
    display: inline-block;
    background-color: orangered;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}

.btn small {
    display: block;
    padding: 5px 10px;
}
/* end */
.cart--container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart {
    position: relative;
    width: 23%;
    border-radius: 2px;
    cursor: pointer;
    height: auto;
    text-align: center;
    padding: 0px 0px 40px 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cart--image {
    width: 100%;
    padding-top: 30px;
}
/* Camera */
.cart--image--cam img{
    width: 100%;
}
.cart--title {
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 10px 0;
}

.cart--speed {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    background-color: blue;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: 25px 25px 25px 25px;
    line-height: auto;
}
.cart--price {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccc;
}
.cart--sale {
    color: orangered;
    text-decoration: inherit;
}

.cart--desc {
    line-height: 1.8;
    font-size: 1.1em;
}

.modal {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 5px 0;
    background: rgba(255, 99, 71, 0.8);
    opacity: 0.8;
}

.cart:hover .modal  {
    display: block;
}
.buy a {
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    font-size: 22px;
}
.buy a:hover {
    color: orangered;
}
/* slides Img */

.slidesimg {
    position: relative;
}

.prev, .next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 16px;
    user-select: none;
    border: none;
    outline: none;
}

.next {
    right: 0;
}

#img-list li img {
    width: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {opacity: .8};
    top {opacity: 1};
}


/* Cart product Css */
.cart-product {
    padding: 20px 0;
    position: relative;
}


/* Introduce */
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.introduce-list {
    width: 100%;
    padding: 20px;
    height: auto;
}
.introduce-list li {
    width: 50%;
    padding: 7px 8px;
    float: left;
    font-size: 1.2em;
    margin-bottom: 20px;
    overflow: hidden;
}

/* Related products */
.related-list li{
    opacity: .8;
    padding: 5px;
}
.related-list li img {
    width: 100%;;
    display: block;
    border-radius: 5px;
}
.related-list li h3 {
    padding: 12px 0;
    color: orangered;
    text-transform: uppercase;
    font-size: 1em;
}
.related-list li p {
    font-size: 1.2em;
    line-height: 1.3;
}

.related-list li a {
    display: block;
    text-align: right;
    padding: 12px 0;
    color: orangered;
    cursor: pointer;
    font-size: 1.2em;
}

/* page-img */
.page-img {
    width: 100%;
   
}
.page-img img {
    display: block;
    width: 100%;
    overflow: hidden;
}

/* Category */

.category {
    padding-top: 20px;
}

.cat-list li {
    width: 25%;
    text-align: center;
    padding: 10px 0;
    opacity: .8;
}

.cat-list li a{
    display: block;
    text-transform: uppercase;
    font-size: .8em;
    color: #000;
    opacity: .8;
    padding-top: 10px;
    color: orangered
}

/* Footer css */

.footer {
    padding: 20px 0;
    text-align: center;
    background-color: #1111;
}

.footer-list {
    background-color: #1111;
    padding: 20px;
}

.footer-item {
    width: 50%;
    opacity: .8;
    overflow: hidden;
}

.footer-item img {
    width: 25%;
    padding: 5px;
}

.footer-item p {
    text-align: left;
    font-size: 1.2em;
    padding: 5px;
}

.footer-item h3 {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 50%;
    text-transform: uppercase;
    font-size: .9em;
    padding: 5px 0;
    color: orangered;
}
.navfooter li{
    width: 50%;
    padding: 7px 8px;
    font-size: 1.1em;
    margin: 0 auto;
    text-align: left;
}

.navfooter li:hover a {
    color: orangered;
    text-decoration: underline;
}


/* Reponsive */

@media only screen and (max-width: 600px) {


    /* Introduce */

    .introduce-list li {
        float: none;
        width: 100%;
        padding: 5px;
    }

    /* related product */
    .related-list {
        flex-direction: column;
    }

    /* cat-list */

    .cat-list {
        flex-direction: column;
    }

    .cat-list li {
        width: 100%;
        border-bottom: 1px solid;
    }

    /* footer-list */

    .footer-list {
        flex-direction: column-reverse;
    }

    .footer-item{
        width: 100%;
        border-bottom: 1px solid;
    }
    .navfooter li {
        width: 100%;
    }
}


@media only screen and (max-width: 922px) {
    .nav-list {
        display: none;
    }
    .nav-list.reponsive {
        position: absolute;
        text-align: center;
        opacity: .8;
        display: block;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }

    .nav-list {
        top: 0;
    }

    .nav-list li {
        padding: 12px 0;
    }
    .icon {
        display: block;
    }
    .logo {
        width: 100%;
    }
}